.HeroContainer {
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1; */

    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background:url(../../public/assets/images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.HeroContainer img {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.HeroContentContainer {
    z-index: 3;
    max-width: 1800px;
    position: absolute;
    padding: 8px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.HeroTextContainer {
    display: flex;
    flex-direction: column;
    flex:1 1 40rem;
}

.HeroSubTitle {
    margin-top: 24px;
    color: darkgrey;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}

.HeroMainText {
    color: var(--primary);
    font-size: 48px;
    text-align: center;
}

.HeroImgContainer {
    display: flex;
    flex:1 1 40rem;
}

.HeroImgContainer img {
    margin-left: 60px;
    width:100%;
    -o-object-fit: contain;
    object-fit: contain;
    padding:1rem;
    animation:float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(2.5rem);
    }
  }