* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 
  sans-serif;
}

:root {
  --primary: #000e0d;
  --secondary: #00bf76;
  --icons: #8ffdf0;
}

html {
  scroll-behavior: smooth;
}